.container {
  width: 100%;
  max-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
}

.container h1 {
  margin: 0;
}

.logo {
  font-size: var(--fz-xl);
  color: var(--logo-color-900);
}

.btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: var(--fz-sm);
  cursor: pointer;
}

.btn span {
  margin-left: .75rem;
  margin-right: .75rem;
}

.btn svg {
  font-size: var(--fz-ml);
}

@media(min-width: 420px) {
  .container {
    position: relative;
    justify-content: center;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
